.center {
  text-align: center;
}
.test{
    text-align: center;
    padding: 2px;
    margin: 0 400px;
    color: white;
    background-color: #F8DA4E;
    border-radius: 20px;
}
.myform{
    border-radius: 20px;
    margin:0 350px;
    background-color: #D2D0B9;
    text-align: left;
    color: #062737;

}
button{
    text-align: center;

}
