.center {
  text-align: center;
}
.test{

    padding: 2px;
    margin: 0 500px;
    color: white;
    background-color: #A80033;
    border-radius: 20px;
}
.user{

    padding: 2px;
    margin: 0 50px;
    color: #DDDDDD;
    background-color: #222222;
    border-radius: 20px;
}
.post{
    border-radius: 20px;
    margin:0 470px;
    background-color: #DDDDDD;

}
.posttitle{

    margin: 0 30px;
    border: 2px solid #222222;
    color: #A80033;
    /*border-radius: 20px;*/
}
.bodypost{
    color: #A80033;
    background-color: #DDDDDD;
}
.link{
    color: #DDDDDD;
}